:host {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    gap: 0.2rem;
    padding: 0.2rem;
    color: var(--app-blue);
}

.logo {
    height: 2.2rem;
    width: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.cardinal {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0;
    letter-spacing: 0.05em;
    font-family: Arial, sans-serif;
}

.trials-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .125em;
    color: var(--app-gray);
}

.trials {
    font-size: .65rem;
    font-weight: 600;
    margin: 0;
    letter-spacing: 0.4em;
    padding-left: 0.4em;
}

.accent-line {
    height: .125em;
    flex: 1;
    min-width: 1rem;
    max-width: 4em;
    padding-top: .125em;
}
