/* You can add global styles to this file, and also import other style files */
:root {
    --app-blue: #193F6A;
    --app-blue2: #072E5D;
    --app-red: #DC344D;
    --app-red2: #B90B27;
    --app-teal: #088989;
    --app-teal2: #35c0c0;
    --app-gray: #555;

    --text-color: #16171C;
    --shadow-color: rgba(25, 63, 106, 0.3);
    --field-invalid: #fff9f9;
}

body {
    color: var(--text-color);
    background-color: #EEF1F8;
    font-family: Arial, Helvetica, sans-serif;
}